Pygments
ipykernel
ipython-genutils
ipython
ipywidgets
jedi
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyter
jupyterlab-server
jupyterlab
mistune
prompt-toolkit
python-dateutil
qtconsole
traitlets
wcwidth
widgetsnbextension
folium
lxml
nltk
jupyterlab-git
nbresuse
pathlib
elyra
ipyvuetify
pandas
scipy
traitlets
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
markdown
jupyter-lsp
ipympl
